<a href="https://colab.research.google.com/github/domonjo01/colaboratory/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = {
    "名前": ["太郎", "花子", "次郎"],
    "年齢": [25, 30, 22],
    "職業": ["エンジニア", "デザイナー", "マーケター"]
}

df = pd.DataFrame(data)
print(df)

   名前  年齢     職業
0  太郎  25  エンジニア
1  花子  30  デザイナー
2  次郎  22  マーケター

In [ ]:
import pandas as pd

data = {
    "氏名": ["マナブ", "たかし", "まさし"],
    "年齢": [40, 38, 27],
    "職業": ["監査人", "医療事務", "テスター"]
}

df = pd.DataFrame(data)
print(df)

    氏名  年齢    職業
0  マナブ  40   監査人
1  たかし  38  医療事務
2  まさし  27  テスター